.side-menu {
    background-color: #1E90FF;
    width:250px;
    height:auto;
    float:left;
    padding: auto;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: #1E90FF;
}

#side-top {
    color: white;
}